.card{
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

}

.card--image{
   width: 100%;
   border-radius: 9px;
   margin-bottom: 9px;
} 

.card--stats{
    display: flex;
    align-items: center;
}

.card--star{
    height: 14px;
}
.gray{
    color: #918E9B;
}
.bold{
    font-weight: bold;
}
h2{
    font-size: 12px;
    font-weight: normal;
}
.card--price{
    margin-top: auto;
}
.card--title{
    overflow: hidden;
    text-overflow: ellipsis;
}
.card--badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}